*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 130px;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    position: fixed;
    z-index: 10;
    background-color: white;
}
.header .logo img:hover{
    cursor: pointer;
}
.menu{
    display: flex;
    padding-right: 30px;
}
.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding-bottom: 85px;
}
.menu ul li{
    position: relative;
}
.menu ul li a:hover{
    border-bottom: 3px solid #d92d26;
    padding-bottom: 10px;
    transition: all 0.3s;
}
.search p{
    color:#7f7f7f;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    padding: 47px 20px;
}
.search p:hover{
    cursor: pointer;
}
.button p:hover{
    cursor: pointer;
}
.button p{
    color: white;
    border: 1px solid #d92d26;
    background-color: #d92d26;
    font-weight: 700;
    font-size: 15px;
    padding: 15px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 29px;
}
.dropdown{
    display: none;
}
.header ul li:hover .dropdown{
    display: block;
    border: 1px solid #afafaf;
    position: absolute;
    top: 85px;
    background-color: white;
}
.dropdown ul{
    display: block;
    width: 250px;
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 10px;
}
.dropdown ul li{
    padding: 10px 0;
    width: 100%;
}
.dropdown ul li a{
    color: black;
    font-weight: 300;
}
.dropdown ul li:hover{
    background-color: rgb(255, 92, 33);
    color: white;
    transition: all 0.2s;
}
.dropdown ul li a:hover{
    border-bottom: none;
}
.fas{
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}
.dropdown2{
    display: none;
}
.dropdown2 ul{
    padding: 0;
}
.dropdown ul li:hover .dropdown2{
    display: block;
    position: absolute;
    border: 1px solid #afafaf;
    left: 250px;
    top: 0;
    transition: none;
    background-color: white;
}
.dropdown2 ul li a{
    text-align: left;
}
.main{
    padding-top: 130px;
    margin-left: -44px;
}
.socials{
    display: block;
    padding-top: 50px;
    margin-left: -20px;
    position: fixed;
    height: 100%;
}
.socials p{
    color: #c2c2c2;
    width: 32px;
    height: 32px;
    font-size: 20px;
}
.main .content .slider{
    position: relative;
    margin-left: -50px;
}
.main .content .slider img{
    width: 107.6%;
    filter: brightness(65%);
}
.main .content .slider button{
    justify-content: center;
    padding: 15px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    position: absolute;
    top: 270px;
    left: 600px;
    font-size: 17px;
}
.main .content .slider button:hover{
    background-position: left right;
    background-color: rgba(19, 10, 10, 0.6);
    transition-duration: 2s;
}
.bi{
    float: right;
    margin-left: 12px;
}
.sections .box .img img{
    width: 317.5px;
    height: 110px;
    filter: brightness(60%);
}
.sections{
    display: flex;
    margin-left: -50px;
}
.sections .box{
    margin-right: 20px;
    position: relative;
}
.sections .box:hover{
    cursor: pointer;
}
.sections .box .text1 p{
    position: absolute;
    top: 40px;
    left: 115px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.sections .box .text2 p{
    position: absolute;
    top: 40px;
    left: 50px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.sections .box .text3 p{
    position: absolute;
    top: 30px;
    left: 15px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-left: 15px;
}
.sections .box .text4 p{
    position: absolute;
    top: 40px;
    left: 55px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
.main2{
    margin-top: 25px;
}
.ourfocus{
    width: 700px;
    margin-left: 250px;
    margin-right: 250px;
}
.ourfocus h2{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}
.ourfocus p{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}
.main2 .row1{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}
.main2 .row1 .box1{
    position: relative;
}
.main2 .row1 .box1 img{
    width: 340px;
    height: 340px;
    margin-right: 20px;
    filter: brightness(60%);
    transition: 0.5s ease-in-out;
}
.main2 .row1 .box1 .title1{
    position: absolute;
    top: 150px;
    left: 130px;
    font-size: 28px;
    color: #fff;
    border-bottom: #d92d26 3px solid;
    transition: 0.5s ease-in-out;
}
.main2 .row1 .box1 .title2{
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: 28px;
    color: #fff;
    border-bottom: #d92d26 3px solid;
    transition: 0.5s ease-in-out;
}
.main2 .row1 .box1 .title3{
    position: absolute;
    top: 150px;
    left: 110px;
    font-size: 28px;
    color: #fff;
    border-bottom: #d92d26 3px solid;
    transition: 0.5s ease-in-out;
}
.main2 .row2{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}
.main2 .row2 .box1{
    position: relative;
}
.main2 .row2 .box1 img{
    width: 340px;
    height: 340px;
    margin-right: 20px;
    filter: brightness(60%);
    transition: 0.5s ease-in-out;
}
.main2 .row2 .box1 .title4{
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: 28px;
    color: #fff;
    border-bottom: #d92d26 3px solid;
    transition: 0.5s ease-in-out;
}
.main2 .row2 .box1 .title5{
    position: absolute;
    top: 150px;
    left: 130px;
    font-size: 28px;
    color: #fff;
    border-bottom: #d92d26 3px solid;
    transition: 0.5s ease-in-out;
}
.main2 .row1 .box1:hover{
    cursor: pointer;
}
.main2 .row2 .box1:hover{
    cursor: pointer;
}
.main2 .row1 .box1:hover .title1{
    transform: translateY(-5px);
}
.main2 .row1 .box1:hover img{
    filter: brightness(50%);
}
.main2 .row2 .box1:hover img{
    filter: brightness(50%);
}
.main2 .row1 .box1:hover .title2{
    transform: translateY(-5px);
}
.main2 .row1 .box1:hover .title3{
    transform: translateY(-5px);
}
.main2 .row2 .box1:hover .title4{
    transform: translateY(-5px);
}
.main2 .row2 .box1:hover .title5{
    transform: translateY(-5px);
}
.opportunity{
    max-width: 700px;
    justify-self: center;
    text-align: center;
}
.opportunity h2{
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 25px;
}
.opportunity p{
    color: #777;
    font-size: 16px;
    margin-bottom: 25px;
}
.opportunities{
    margin-bottom: 50px;
}
.opportunities .box1 .title6{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: #fff;
    transition: 0.5s ease-in-out;
    text-align: center;
    margin-left: -3%;
}
.opportunities .box1 .title7{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: #fff;
    transition: 0.5s ease-in-out;
    text-align: center;
    display: inline-block;
}
.opportunities .box1 .title6::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    background-color: #d92d26;
    width: 50%;
    transition: 0.5s ease-in-out;
}
.opportunities .box1 .title7::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    background-color: #d92d26;
    width: 50%;
    transition: 0.5s ease-in-out;
}
.opportunities .box1:hover .title6{
    transform: translate(-50%, -60%);
}
.opportunities .box1:hover .title6::after{
    width: 60%;
}
.opportunities .row1 .box1:hover .title7{
    transform: translate(-50%, -60%);
}
.opportunities .row1 .box1:hover .title7::after{
    width: 60%;
}
.grid{
    display: flex;
}
.column2{
    display: block;
}
.grid .column1{
    position: relative;
}
.grid .column2 .top{
    position: relative;
}
.grid .column2 .bottom{
    position: relative;
}
.grid .column1 .image img{
    height: 545px;
    width: 525px;
    margin: 20px;
    filter: brightness(70%);
    transition: 0.5s ease-in-out;
}
.grid .column2 img{
    width: 525px;
    height: 262.5px;
    margin: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    filter: brightness(70%);
    transition: 0.5s ease-in-out;
}
.grid .column1 .text h4{
    font-size: 28px;
    font-weight: 600;
}
.grid .column1 .text p{
    font-size: 16px;
}
.grid .column1 .text{
    width: 465px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: 0.5s ease-in-out;
}
.grid .column2 .top .text h4{
    width: 164px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    transition: 0.5s ease-in-out;
}
.grid .column2 .bottom .text h4{
    width: 196px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    transition: 0.5s ease-in-out;
}
.grid .column1:hover{
    cursor: pointer;
}
.grid .column2 .top:hover{
    cursor: pointer;
}
.grid .column2 .bottom:hover{
    cursor: pointer;
}
.grid .column1:hover .image img{
    filter: brightness(50%);
}
.grid .column1:hover .text{
    transform: translate(-50%, -60%);
}
.grid .column2 .top:hover img{
    filter: brightness(50%);
}
.grid .column2 .top:hover .text h4{
    transform: translate(-50%, -60%);
}
.grid .column2 .bottom:hover img{
    filter: brightness(50%);
}
.grid .column2 .bottom:hover .text h4{
    transform: translate(-50%, -60%);
}
.ourfellows{
    margin-top: 30px;
    width: 1080px;
    justify-content: center;
    margin-bottom: 70px;
}
.ourfellows .fellows{
    width: 700px;
    height: 43px;
    text-align: center;
    margin: 0px 180px;
    font-size: 36px;
    font-weight: 400;
    padding-left: 70px;
    margin-bottom: 30px;
}
.people-quotes{
    margin-left: 20px;
}
.people-quotes .rw1{
    display: flex;
}
.people-quotes .rw2{
    display: flex;
    width: max-content;
}
.people-quotes .person{
    width: 250px;
    margin-right: 30px;
}
.people-quotes .person .photo img{
    width: 250px;
    height: 250px;
}
.people-quotes .person .name{
    width: 250px;
    font-size: 24px;
    color: #1a1919;
    font-weight: 600;
    text-align: center;
    margin: 20px 0px;
    position: relative;
}
.people-quotes .person .name h4{
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.people-quotes .person .name::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 4px;
    bottom: -18px;
    background-color: #d92d26;
    transition: 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
}
.person:hover{
    cursor: pointer;
}
.person:hover .name h4{
    transform: translateY(-10%);
}
.person:hover .name::after{
    width: 55%;
}
.people-quotes .rw1{
    margin-bottom: 30px;
}
.people-quotes .quote{
    display: block;
    width: 530px;
    height: 340px;
    background-color: #f15e2f;
    color: #fff;
    padding: 30px;
    margin-right: -27px;
}
.people-quotes .quote .icon{
    font-size: 36px;
    text-align: center;
    margin-left: 190px;
    width: 60px;
}
.people-quotes .quote .the-quote{
    margin-top: 80px;
    font-size: 16px;
    text-align: center;
    width: fit-content;
}
.people-quotes .quote .the-person{
    font-weight: 700;
    text-align: center;
}
.people-quotes .quote .the-person p{
    font-weight: 700;
    text-align: center;
    margin-bottom: -2px;
}
.people-quotes .quote .the-person span{
    font-style: italic;
    font-size: 90%;
    font-weight: lighter;
}
.people-quotes .rw2 .quote{
    display: block;
    width: 530px;
    height: 340px;
    background-color: #1a1919;
    color: #fff;
    padding: 30px;
    margin-right: 30px;
}
.footer{
    position: relative;
}
.footer .background img{
    width: 1440px;
    height: 600px;
}
.footer .background img{
    filter: brightness(70%);
}
.footer .textt{
    color: #fff;
    text-align: center;position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}
.footer .textt .titlee h2{
    font-weight: 400;
    margin-bottom: 25px;
}
.footer .textt .desc p{
    font-size: 16px;
    margin-bottom: 25px;
}
.footer .textt .button1 button{
    border: none;
    width: 212px;
    height: 50px;
    color: #fff;
    background-color: #d92d26;
    transition: 0.3s ease-in-out;
}
.footer .textt .button1 button:hover{
    background-color: rgb(188, 37, 4);
}
.footer2{
    background-color: #1a1919;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.footer2 .mailing-list{
    padding: 80px 0px 40px;
    width: 1080px;
    height: 236px;
    justify-self: center;
    border-bottom: 0.5px solid #777;
}
.footer2 input{
    width: 440px;
    height: 57px;
    background-color:#fff;
    padding: 0px 15px;
    border: none;
    color: #777;
}
.footer2 h4{
    font-weight: 400;
    margin-bottom: 25px;
}
.footer2 button{
    width: 180px;
    height: 57px;
    background-color: #f15e2f;
    border: none;
    color: #fff;
    font-weight: 700;
}
.sign-up{
    display: flex;
    justify-self: center;
}
.more{
    display: flex;
    color: #fff;
    justify-content: center;
    padding: 50px 0px;
}
.more .mission{
    width: 270px;
    height: 152px;
    text-align: left;
    padding-right: 20px;
}
.more .mission .heading{
    height: 19.2px;
    width: 250px;
    margin-bottom: 10px;
}
.more .specific p{
    font-size: 13px;
    color: #bebebe;
} 
.more .heading h5{
    font-weight: 700;
    font-size: 16px;
}
.contact{
    width: 540px;
    height: 152px;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
}
.bottom1{
    display: flex;
    font-size: 13px;
}
.contact .top1 .link{
    margin-bottom: 25px;
}
.contact .top1 .link a{
    font-size: 13px;
    margin-bottom: 25px;
    color:#bebebe;
}
.contact .bottom1 .address{
    font-size: 13px;
    font-weight: 700;
    color: #bebebe;
}
.bottom1 .address{
    margin-bottom: -12px;
}
.connect{
    width: 270px;
    height: 152px;
    text-align: left;
    padding-left: 20px;
}
.connect .social{
    display: flex;
    font-size: 21px;
}
.connect .social a{
    color: #bebebe;
}
.credits{
    justify-content: center;
}
.credits .mark{
    background-color: #1a1919;
    width: 1080px;
    height: 51.33px;
    justify-self: center;
    margin: 0px 440px 20px;
}
.credits .mark img{
    width: 200px;
}
.credits .learn-more{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.credits .learn-more .privacy{
    margin: 0px 20px;
}
.credits .learn-more .terms{
    margin: 0px 20px;
}
.credits .learn-more .privacy a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color:#bebebe;
}
.credits .learn-more .terms a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #bebebe;
}
.credits .copyright{
    font-size: 13px;
    color: #bebebe;
    text-wrap: wrap;
    height: 89px;
}
.credits .copyright p{
    margin-bottom: 5px;
}